<div class="row border-bottom sticky-top bg-body px-0 px-md-3 px-lg-4">
	<div class="col-12">
		<nav id="main-nav" class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="/">
				<h1>MudTrackr</h1>
			</a>
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto text-end">
					<li class="nav-item">
						<a routerLink="" class="nav-link">Home</a>
					</li>
					<li class="nav-item">
						<a routerLink="about" class="nav-link">About</a>
					</li>
					<li class="nav-item">
						<a routerLink="events" class="nav-link">Events</a>
					</li>
					<li class="nav-item dropdown border-start" *ngIf="isLoggedIn">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ currentUser.firstName }} {{ currentUser.lastName }}</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a routerLink="profile" class="dropdown-item">Profile</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" (click)="logout()">Logout</a></li>
						</ul>
					</li>
					<li class="nav-item border-start" *ngIf="!isLoggedIn">
						<a routerLink="login" class="nav-link">Login</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
