<div class="row pt-3">
	<div class="col-12">
		<div *ngIf="user != null && !user?.active" class="row">
			<div class="col-12">
				<div class="alert alert-warning" role="alert">
					<i i-bs name="exclamation-triangle" aria-hidden="true"></i>
					Your email has not been verified. Please click the link in your email to verify your account.
				</div>
			</div>
		</div>
		<app-profile-static-header [user]="user" [legionnaireCount]="tmLegionnaireCount"></app-profile-static-header>
		<div class="row pt-3">
			<div class="col-12">
				<ul class="nav nav-tabs" id="user-tabs" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link {{ activeTab == 'details' ? 'active' : null }}" id="details-tab" data-bs-toggle="tab" data-bs-target="#details-content" type="button" role="tab" aria-controls="details" [attr.aria-selected]="activeTab == 'details' ? 'true' : 'false'">Details</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link {{ activeTab == 'events' ? 'active' : null }}" id="events-tab" data-bs-toggle="tab" data-bs-target="#events-content" type="button" role="tab" aria-controls="events" [attr.aria-selected]="activeTab == 'events' ? 'true' : 'false'">Events</button>
					</li>
				</ul>
			</div>
		</div>
		<app-profile-info-summary-bar #infoSummaryBarComponent [tmLegionnaireCount]="tmLegionnaireCount"></app-profile-info-summary-bar>
		<div class="row pt-3 justify-content-center">
			<div class="col-12 col-lg-9">
				<div class="tab-content" id="tab-content">
					<div class="tab-pane fade {{ (activeTab == null || activeTab == 'details') ? 'show active' : null }}" id="details-content" role="tabpanel" aria-labelledby="details-tab">
						<app-profile-details [user]="user"></app-profile-details>
					</div>
					<div class="tab-pane fade {{ activeTab == 'events' ? 'show active' : null }}" id="events-content" role="tabpanel" aria-labelledby="events-tab">
						<app-profile-events #eventsComponent [user]="user"></app-profile-events>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<app-loading-spinner></app-loading-spinner>
