<div class="row pt-3">
	<div class="col-12">
		<div class="row">
			<div class="col-12">
				<h2>{{ event?.name }}</h2>
			</div>
		</div>
		<div class="row pt-3">
			<div class="col-12">
				<ul class="nav nav-tabs" id="event-tabs" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link {{ activeTab == 'details' ? 'active' : null }}" id="details-tab" data-bs-toggle="tab" data-bs-target="#details-content" type="button" role="tab" aria-controls="details-tab" [attr.aria-selected]="activeTab == 'details' ? 'true' : 'false'">Details</button>
					</li>
					<li *ngIf="isLoggedIn" class="nav-item" role="presentation">
						<button class="nav-link {{ activeTab == 'participants' ? 'active' : null }}" id="participants-tab" data-bs-toggle="tab" data-bs-target="#participants-content" type="button" role="tab" aria-controls="participants-tab" [attr.aria-selected]="activeTab == 'participants' ? 'true' : 'false'">Participants</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="row pt-3 justify-content-center">
			<div class="col-12 col-lg-9">
				<div class="tab-content" id="tab-content">
					<div class="tab-pane fade {{ (activeTab == null || activeTab == 'details') ? 'show active' : null }}" id="details-content" role="tabpanel" aria-labelledby="details-tab">
						<app-event-details [event]="event"></app-event-details>
					</div>
					<div *ngIf="isLoggedIn" class="tab-pane fade {{ activeTab == 'participants' ? 'show active' : null }}" id="participants-content" role="tabpanel" aria-labelledby="participants-tab">
						<app-event-participants #participantsComponent [event]="event"></app-event-participants>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<app-loading-spinner></app-loading-spinner>
