<div class="py-5 text-white">
	<div class="row">
		<div class="col-12 text-center">
			<h1 class="display-5">Run. Climb. Crawl. Volunteer.</h1>
			<h1>Track your OCRs with MudTrackr.</h1>
		</div>
	</div>
	<div class="row py-3">
		<div class="col gap-3 d-flex justify-content-center">
			<a routerLink="/create-account" class="btn btn-outline-light btn-lg">Create Account</a>
			<a routerLink="/login" class="btn btn-light btn-lg">Login</a>
		</div>
	</div>
	<div class="row pt-4 justify-content-center align-items-center text-center">
		<div class="col-12 col-sm-6 col-md-3 order-3 order-md-1 pt-3">
			<div class="card border-0 bg-transparent">
				<div class="card-img-top">
					<i-bs name="award" width="5rem" height="5rem"></i-bs>
				</div>
				<div class="card-body">
					<h5 class="card-title">Track your challenges</h5>
					<p class="card-text">Compete in a virtual event or challenge? See your effort and hard-earned badges here.</p>
					<a href="#" class="btn btn-outline-light">Coming Soon!</a>
				</div>
			</div>
		</div>
		<div class="col-12 order-2 d-sm-none">
			<hr class="border-white">
		</div>
		<div class="col-12 col-sm-12 col-md-4 order-1 order-md-2 pt-3">
			<div class="row">
				<div class="col-12 col-sm-8 col-md-12 mx-auto">
					<div class="card border-0 bg-transparent">
						<div class="card-img-top">
							<i-bs name="trophy" width="5rem" height="5rem"></i-bs>
						</div>
						<div class="card-body">
							<h5 class="card-title">Keep track of your events</h5>
							<p class="card-text">Whether it's a Tough Mudder, Spartan, Savage Race, or another OCR, keep track of which ones you've participated in, and add any competitive results to see how you stack up. Don't see your event here? Submit it and we'll get it added so you can see all your data.</p>
							<a routerLink="/events" class="btn btn-outline-light">Events</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 order-4 d-sm-none">
			<hr class="border-white">
		</div>
		<div class="col-12 col-sm-6 col-md-3 order-5 order-md-3 pt-3">
			<div class="card border-0 bg-transparent">
				<div class="card-img-top">
					<i-bs name="people" width="5rem" height="5rem"></i-bs>
				</div>
				<div class="card-body">
					<h5 class="card-title">Track volunteer hours</h5>
					<p class="card-text">Enjoy discounts? Track your volunteer shifts and show how many hours you've given back.</p>
					<a href="#" class="btn btn-outline-light">Coming Soon!</a>
				</div>
			</div>
		</div>
	</div>
</div>
